{% extends "form_to_csv/layout.html" %} {% block content%}
<h1 class="title">Form to CSV</h1>

<div class="content">
	<p>Enter text to be saved in the below boxes.</p>
</div>

<form class="form" action="" method="post">
	{% csrf_token %} 
	<div class="field">
	<label class="label" for="id_user_name">User Name: </label>
	<input class="input is-primary" type="text" name="user_name" maxlength="200" required="" id="id_user_name">
	<label class="label" for="id_user_text">Message: </label>
	<input class="input is-info" type="text" name="user_text" maxlength="1000" required="" id="id_user_text">
	</div>
	<input type="submit" class="button is-primary is-light" value="Submit" />
</form>
<br />
{%endblock%}
